{
    admin off
    persist_config off
}

:8080 {
    root * /srv
    encode

    handle /api/* {
        reverse_proxy http://backend:8000
    }
    handle {
        try_files {path} {path}/ /index.html
        file_server
    }
}
